body{
    color:black;
    background-color: rgb(204, 211, 231);
    font-family: 'Times New Roman', Times, serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    color: #29528f;
    font-family: 'Times New Roman', Times, serif;
}

strong{
    text-decoration: antiquewhite;
}

ul{
    color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

dt{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

footer{
    text-align: center;
}

.destacado{
    color: brown;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

#Localizacion{
    color: rgb(2, 1, 43);
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.container{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.span{
    color: black;
    font-family:'Courier New', Courier, monospace ;
}

.boton{
    color: blueviolet;
    font-family:Arial, Helvetica, sans-serif ;
    font-size:medium ;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

p > h6{
    color: #ffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

div li{
    color: #29528f;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.flex{
    display: flex;
    border-style: double;
    border-color: rgba(0, 255, 64, 0.548);
    border-width: 5px;
    max-width: 400px;
    justify-content:space-around ;
}




