body{
    color: rgb(59, 190, 19);
    background-color: rgb(147, 211, 208);
    font-family: 'Times New Roman', Times, serif;
}

p{
    color: #122542;
    font-family: 'Times New Roman', Times, serif;
}

strong{
    text-decoration: antiquewhite;
}

ul{
    color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

dt{
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}